@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


#messages{
  list-style-type: none;
  display:flex;
  align-items: left;
  flex-direction:column;
  text-align:left;
  justify-content: center;
  width: 250px;
}

ul{
  justify-content: center;
  margin-right:3%;
}

li{
  height:30px;
  font-family: 'Special Elite', cursive;
  background-color: white;
  padding:10px;
  border-radius: 20px;
  text-align: center;
}

