@import url('https://fonts.googleapis.com/css2?family=Karantina&display=swap');

#text-box {
  display:flex;
  align-items: center;
  flex-direction:column;
  text-align:center;
  max-width: 500px;
  width: 500px;
  height: 75px ;
  justify-content: center;
  border-radius: 10px;
  margin-top: -20px;
  font-size: 18px;
  border-color: black;
}

#button {
  margin-top: 50px;
  cursor: pointer;
} 

