@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


#messages{
  list-style-type: none;
  display:flex;
  align-items: left;
  flex-direction:column;
  text-align:left;
  justify-content: center;
  width: 250px;
}

li{
  height:50px;
  font-family: 'Special Elite', cursive;
}

